<ion-view view-title="MATC Music App" style="width: 100%">
  <ion-content class="centerIt" style="width: 100%">
    <button ng-if="vm.displayName" ng-click="vm.logout()">You are {{ vm.displayName }}</button>
    <button class="button button-balanced button-full" ng-if="!vm.displayName" ng-click="vm.showEmailLogin()">Login with Email</button>
    <div class="animate-show" ng-show ="vm.showLogin">
        <div>
            <label class="item item-input">
              <span class="input-label  padding">Email:</span>
              <input type="email" id="email" ng-model="vm.email" required>
            </label>
        </div>

        <div>
            <label class="item item-input" for="password">
              <span class="input-label padding">Password:</span>
              <input type="password" id="password" ng-model="vm.password" required>  
            </label>
        </div>

        <div class="padding">
            <button ng-click="vm.loginWithEmail()">Login</button>
        </div>

        <div class="padding spanColor" ng-if="vm.loginError.code">{{ vm.loginError.message }}
        </div> 

   </div>
   <button class="button button-positive button-full" ng-if="!vm.displayName" ng-click="vm.setupSoundCloud()">Login with Google</button>
  </ion-content>
</ion-view>

