<ion-view view-title="MATC Music App">
<ion-content>

        <button ng-if="vm.displayName" ng-click="vm.logout()">You are {{ vm.displayName }}</button>
        <button class="button button-positive" ng-if="!vm.displayName" ng-click="vm.login('google')">Login with Google</button>
        <button class="button button-balanced" ng-if="!vm.displayName" ng-click="vm.showEmailLogin()">Login with Email</button>

        <div ng-show ="vm.showLogin">
        <div>
            <label>Email</label>
            <input type="email" id="email" ng-model="vm.email" required>
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" id="password" ng-model="vm.password" required>
        </div>

        <div>
            <button ng-click="vm.loginWithEmail()">Login</button>
        </div>
       </div>

</ion-content>
</ion-view>

