<ion-view view-title="Dance Machine" hide-nav-bar="true">
	<ion-content class="padding">
		<!-- embeded player will only show when called -->
		<!-- <div class="animate-show" ng-show="vm.embededPlayer" id="soundCloudWidget" style="overflow: hidden; height: 150px"></div> -->

		<!--   <div plangular="http://soundcloud.com/mrsjxn/no-love" class="p2 mb3 flex flex-center bg-darken-2 rounded">
              <button ng-click="playPause()"
                title="Play/Pause"
                class="flex-none h2 mr2 button button-transparent button-grow rounded">
                <svg ng-if="player.playing !== track.src" class="icon geomicon" data-icon="play" viewBox="0 0 32 32" width="32" height="32" style="fill:currentcolor"><path d="M4 4 L28 16 L4 28 z "></path></svg>
                <svg ng-if="player.playing === track.src" class="icon geomicon" data-icon="pause" viewBox="0 0 32 32" width="32" height="32" style="fill:currentcolor"><path d="M4 4 H12 V28 H4 z M20 4 H28 V28 H20 z "></path></svg>
              </button>
              <h2 class="h4 caps flex-auto m0">{{track.user.username}} - {{track.title}}</h2>
              <samp class="h6">{{ currentTime | hhmmss }} / {{ duration | hhmmss }}</samp>
          </div>
         -->






		<!-- searchbox -->
		<div class="list list-inset">
			<label style="float: left; width:  75%" class="item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input style="font-size: 2em;" type="text" placeholder="Search" ng-model="searchQuery" ng-keypress="vm.searchTrack(searchQuery,$event)">
				<!-- <button class="button icon ion-gear-a"></button> -->
			</label>
			<button style="margin-right: 5px; float: right" class="button button-icon button-outline ion-search button-balanced" type="submit" ng-click="vm.searchTrack(searchQuery)">Search</button>
		</div>


		<!-- Ioncard displaying search results -->
		<div ng-repeat="detail in vm.searchResults" class="card-background-page animate-repeat" style="margin: 5px">
			<div class="list">
				<div ng-click="showing = (showing==true ? false : true)" class="item item-avatar orangeGrad">
					<img ng-src="{{detail.user.avatar_url}}">
					<!-- <h2 class="card-title" ng-href="{{ detail.user.permalink_url }}" ng-bind="detail.user.username"></h2> -->
					<h3 class="card-subtitle" ng-bind="detail.title" class="card-subtitle"></h3>
					<button style="font-size: 2em; float: right" class="button button-outline button-icon ion-ios-play button-calm" ng-click="vm.embedSong(detail.id)"></button>

				</div>
				<!-- Bottom half of the result card. Only show after the header above is clicked -->
				<div ng-show="showing" style="background: rgba(0,0,0,0.5); color: ghostWhite" class="animate-show item-body">
					<img class="full-image" ng-src="{{ detail.artwork_url }}">
					<h2 style="color:ghostWhite" ng-bind="detail.genre" class="card-title"></h2>
					<h2 style="color:ghostWhite" ng-bind="detail.status"></h2>
					<p style="color:ghostWhite" ng-bind="detail.description"></p>
					<button  ng-show="vm.isStreaming" style="font-size: 2em; float: right; margin-left: 5px" class="button button-outline button-icon ion-ios-pause button-assertive animate-show" ng-click="vm.streamPause(detail.id)"></button>
					<button  ng-hide="vm.isStreaming" style="font-size: 2em; float: right" class="button button-outline button-icon ion-ios-play button-calm animate-show" ng-click="vm.streamSong(detail.id)"></button>
				</div>
			</div>
		</div>

		<!-- Only show this if there are no results from the search -->
		<div ng-if="vm.searchResults.length <= 0">No results for '{{ searchQuery }}'</div>

		<!-- Get next array of 20 items from random search, current not working -->
		<button ng-if="vm.searchResults.length > 10" class="button button-block" ng-href="{{vm.searchResults.next_href}}">Next</button>
	</ion-content>
</ion-view>